<div class="contact-container">
  <div class="header">
    <div class="logo">Job Finder AI</div>
    <div class="nav-links">
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </div>
  </div>

  <div class="content">
    <h1>Contact Us</h1>
    <p>
      Have questions or need assistance? We are here to help! Reach out to us
      using the following details or visit our office at the location below.
    </p>

    <div class="contact-box">
      <div class="info-card">
        <h3>Email Us</h3>
        <p>support@jobfinderai.com</p>
      </div>

      <div class="info-card">
        <h3>Call Us</h3>
        <p>+92-3221700516</p>
      </div>

      <div class="info-card">
        <h3>Visit Us</h3>
        <p>
          Air University<br />
          Islamabad, PK
        </p>
      </div>
    </div>

    <div class="map">
      <h3>Find Us on the Map</h3>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3318.8111050881294!2d73.02207907636877!3d33.713836435522325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38dfbe5967d48243%3A0xcb2c90c562c4687e!2sAir%20University%20Islamabad!5e0!3m2!1sen!2s!4v1735548974047!5m2!1sen!2s"
        width="600"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>

  <div class="floating-elements">
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</div>
